<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="wanthavers.mad.cs.fau.de.wanthavers_android"

    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".baseclasses.WantHaversApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--receiver android:process=":remote" android:name=".Alarm"></receiver-->
        <activity
            android:name="wanthavers.mad.cs.fau.de.wanthavers_android.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="wanthavers.mad.cs.fau.de.wanthavers_android.desirelist.DesireListActivity"/>
        <activity android:name="wanthavers.mad.cs.fau.de.wanthavers_android.desiredetail.DesireDetailActivity"/>
        <activity android:name="wanthavers.mad.cs.fau.de.wanthavers_android.desirecreate.DesireCreateActivity"/>
        <activity android:name="wanthavers.mad.cs.fau.de.wanthavers_android.desirecreate.DesireCreateActivity2ndStep"/>
        <activity android:name="wanthavers.mad.cs.fau.de.wanthavers_android.desirecreate.DesireCreateActivity3rdStep"/>
        <activity android:name="wanthavers.mad.cs.fau.de.wanthavers_android.chatlist.ChatListActivity"/>
        <activity android:name="wanthavers.mad.cs.fau.de.wanthavers_android.chatdetail.ChatDetailActivity"/>
        <activity android:name="wanthavers.mad.cs.fau.de.wanthavers_android.settings.SettingsActivity"/>
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="{APPLICATION_ID}" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="{CLIENT_KEY}" />

        <service
            android:name="wanthavers.mad.cs.fau.de.wanthavers_android.cloudmessaging.MessageListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name="wanthavers.mad.cs.fau.de.wanthavers_android.cloudmessaging.RegistrationIntentService"
            android:exported="false">
        </service>

        <service
            android:name="wanthavers.mad.cs.fau.de.wanthavers_android.cloudmessaging.MessageInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>


    </application>

    <uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


</manifest>