<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="wanthavers.mad.cs.fau.de.wanthavers_android"

    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="wanthavers.mad.cs.fau.de.wanthavers_android.desirelist.DesireListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="wanthavers.mad.cs.fau.de.wanthavers_android.desiredetail.DesireDetailActivity"/>

    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>